@charset "UTF-8";
ol, ul, dl {
  margin: 0; }

a {
  color: inherit; }
  a:hover {
    text-decoration: none;
    color: inherit; }

body {
  font-family: 'Montserrat', sans-serif; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

.section-space {
  margin-top: 60px;
  margin-bottom: 200px;
  position: relative; }

.section-title {
  text-align: center;
  margin-bottom: 80px; }

.section-title-v2 {
  margin-bottom: 40px; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset; }

@media screen and (min-width: 992px) {
  .header {
    width: 100%;
    z-index: 999;
    position: absolute;
    padding: 15px 0; }

  .header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }

  .menu-burger {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0 0 40px 0 rgba(49, 169, 93, 0.2); } }
/*-----------Mobile Display-----------*/
.header {
  width: 100%;
  z-index: 999;
  position: absolute;
  padding: 15px 0; }

.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .header-row .logo {
    width: 165px; }
    .header-row .logo img {
      width: 100%; }

.menu-burger {
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  box-shadow: 0 0 40px 0 rgba(49, 169, 93, 0.2); }

.front-page {
  background-image: url("../images/main-image-opacity.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .front-page .front-text h1 {
    text-align: center;
    font-size: 36px; }
  .front-page .front-text h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0; }
  .front-page .front-buttons {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .front-page span {
    margin: 15px 0; }

.bg-button {
  background: linear-gradient(90deg, #B5D653 0%, #019961 100%);
  padding: 15px 50px;
  border-radius: 45px;
  color: white;
  font-weight: 400;
  display: inline-block;
  width: 200px;
  text-align: center; }
  .bg-button:hover {
    color: white !important; }

.line-button {
  border: 1px solid #31A95D;
  padding: 15px 50px;
  border-radius: 45px;
  background: none;
  font-weight: 400;
  display: inline-block;
  width: 200px;
  text-align: center; }

@media screen and (min-width: 768px) {
  .front-page {
    background-image: url("../images/main-image.svg");
    background-repeat: no-repeat;
    background-position-x: 300px;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .front-page .front-text h1 {
      text-align: left;
      font-size: 45px; }
    .front-page .front-text h4 {
      font-size: 20px;
      line-height: 35px;
      font-weight: 300;
      margin: 40px 0;
      text-align: left; }
    .front-page .front-buttons {
      margin-top: 100px;
      display: flex;
      flex-direction: row; }
    .front-page span {
      margin: 0 15px; } }
@media screen and (min-width: 992px) {
  .front-page {
    background-position-x: 400px;
    background-size: auto; }
    .front-page .front-text h1 {
      font-size: 50px; }
    .front-page .front-text h4 {
      font-size: 22px; } }
@media screen and (min-width: 1200px) {
  .front-page {
    background-position-x: right; }
    .front-page .front-text h1 {
      font-size: 54px; }
    .front-page .front-text h4 {
      font-size: 1.3rem; } }
/*VER EL TEMA DE LOS BOTONES EN MOBILE, PORQUE SON SE TAMA├æOS DISNTINTOS*/
.how-cards-row {
  display: flex;
  flex-direction: column;
  position: relative; }

.how-card-1, .how-card-2, .how-card-3 {
  background: white;
  box-shadow: 0 0 30px 0 rgba(49, 169, 93, 0.1);
  text-align: center;
  padding: 40px 25px;
  position: relative;
  border-radius: 18px;
  transition: all 0.4s;
  margin-bottom: 30px; }
  .how-card-1:last-child, .how-card-2:last-child, .how-card-3:last-child {
    margin: 0; }
  .how-card-1 img.card-icon, .how-card-2 img.card-icon, .how-card-3 img.card-icon {
    height: 100px; }
  .how-card-1 h5, .how-card-2 h5, .how-card-3 h5 {
    margin: 30px 0 30px 0; }
  .how-card-1 .circle-into, .how-card-2 .circle-into, .how-card-3 .circle-into {
    display: none; }
  .how-card-1 .circles-top-right, .how-card-2 .circles-top-right, .how-card-3 .circles-top-right {
    display: none; }
  .how-card-1 .circles-bottom-left, .how-card-2 .circles-bottom-left, .how-card-3 .circles-bottom-left {
    display: none; }

@media screen and (min-width: 768px) {
  .how-card-1 .circle-into, .how-card-2 .circle-into, .how-card-3 .circle-into {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 110px;
    transition: all 0.4s; } }
@media screen and (min-width: 992px) {
  .how-cards-row {
    flex-direction: row;
    justify-content: space-between; }

  .how-card-1, .how-card-2, .how-card-3 {
    background: none;
    box-shadow: none;
    margin-right: 25px;
    margin-bottom: 0; }
    .how-card-1:hover, .how-card-2:hover, .how-card-3:hover {
      background: white;
      box-shadow: 0 0 30px 0 rgba(49, 169, 93, 0.17); }
      .how-card-1:hover .circle-into, .how-card-2:hover .circle-into, .how-card-3:hover .circle-into {
        opacity: 1; }
    .how-card-1:last-child, .how-card-2:last-child, .how-card-3:last-child {
      margin: 0; }
    .how-card-1 img.card-icon, .how-card-2 img.card-icon, .how-card-3 img.card-icon {
      height: 140px; }
    .how-card-1 h5, .how-card-2 h5, .how-card-3 h5 {
      margin: 40px 0 45px 0; }
    .how-card-1 .circle-into, .how-card-2 .circle-into, .how-card-3 .circle-into {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      height: 110px;
      transition: all 0.4s; }
    .how-card-1 .circles-top-right, .how-card-2 .circles-top-right, .how-card-3 .circles-top-right {
      display: inline-block;
      position: absolute;
      top: -40px;
      right: -23%;
      z-index: -1;
      width: 125px; }
    .how-card-1 .circles-bottom-left, .how-card-2 .circles-bottom-left, .how-card-3 .circles-bottom-left {
      display: inline-block;
      position: absolute;
      bottom: -70px;
      left: -10%;
      z-index: -1;
      width: 125px; } }
/*VER EL TEMA DEL PADDING SECTION PARA MOVIL PORQUE TIENE QUE SER MAS CHICOS. ESTOS PADDNGS ESTAN EN EL ARCHIVO _GENERAL.SCSS*/
.form-emission {
  background: white;
  border-radius: 18px;
  box-shadow: 0 0 30px 0 rgba(49, 169, 93, 0.17);
  width: 80%;
  margin: auto;
  padding: 80px 80px;
  position: relative;
  transition: all 0.5s; }
  .form-emission form {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    transition: all 0.5s; }
  .form-emission .web-address, .form-emission .page-views {
    display: block;
    margin-bottom: 40px; }
    .form-emission .web-address > input, .form-emission .page-views > input {
      height: 40px;
      width: 100%;
      background: none;
      border: none;
      border-bottom: 1px solid black;
      outline: none;
      transition: all 0.5s; }
  .form-emission .submit-btn {
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px; }
    .form-emission .submit-btn > input {
      border: none;
      outline: none; }
  .form-emission p {
    width: 75%;
    margin: auto; }
  .form-emission .emission-circles {
    position: absolute;
    width: 25%;
    top: -200px;
    right: -150px; }
  .form-emission .flower-right-bottom {
    position: absolute;
    width: 20%;
    right: -130px;
    bottom: 0;
    z-index: -1; }
  .form-emission .flower-left-top {
    position: absolute;
    height: 65%;
    top: -170px;
    left: -20%;
    z-index: -1; }
  .form-emission .flower-left-bottom {
    position: absolute;
    height: 60%;
    bottom: -20px;
    left: -20%;
    z-index: -1; }

.error-text {
  opacity: 1;
  visibility: visible;
  text-align: center;
  color: red;
  transition: all 0.5s; }
  .error-text p {
    margin-bottom: 15px; }

.about-bg {
  background-image: url("../images/about-pc-bg.svg");
  background-repeat: no-repeat;
  background-position-x: -50px; }

.about-row {
  display: flex;
  align-items: center;
  position: relative; }

.left-content {
  width: 50%; }
  .left-content img {
    width: 100%; }

.right-content {
  width: 50%;
  padding-left: 50px; }

.about-separation {
  background: #31A95D;
  width: 328px;
  height: 4px;
  margin: 20px 0; }

.about-bg-2 {
  background-image: url("../images/about-bg-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 80%;
  height: 700px; }

.about-row-2 {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%; }

.left-content-2 {
  width: 50%;
  padding-right: 50px; }

.right-content-2 {
  width: 50%; }
  .right-content-2 img {
    width: 150%;
    transform: translateX(-150px); }

.contact-card {
  background: white;
  border-radius: 18px;
  box-shadow: 0 0 30px 0 rgba(49, 169, 93, 0.17);
  padding: 50px 80px;
  width: 80%;
  margin: auto;
  position: relative; }

.contact-title {
  margin-bottom: 60px; }

.email-phone-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; }
  .email-phone-row input[name=your-email] {
    width: 50%;
    margin-right: 30px;
    border: none;
    border-bottom: 1px solid black;
    background: none;
    outline: none;
    transition: all 0.5s; }
  .email-phone-row input[name=phone-number] {
    width: 50%;
    border: none;
    border-bottom: 1px solid black;
    background: none;
    outline: none; }

.name-last-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; }
  .name-last-row input[name=first-name] {
    width: 50%;
    margin-right: 30px;
    border: none;
    border-bottom: 1px solid black;
    background: none;
    outline: none;
    transition: all 0.5s; }
  .name-last-row input[name=last-name] {
    width: 50%;
    border: none;
    border-bottom: 1px solid black;
    background: none;
    outline: none;
    transition: all 0.5s; }

.message-field {
  width: 100%; }
  .message-field textarea {
    width: 100%;
    height: 180px;
    resize: none !important;
    border: none;
    border-bottom: 1px solid black;
    background: none;
    outline: none;
    transition: all 0.5s; }

.submit-form-btn {
  margin-top: 40px;
  text-align: center; }
  .submit-form-btn input {
    outline: none; }

.contact-group-circles {
  position: absolute;
  bottom: 0;
  left: -35%;
  width: 40%; }

.contact-elipse {
  background-image: url("../images/contact/contact-elipse.svg");
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: center; }

.error-visible {
  opacity: 1;
  visibility: visible;
  text-align: center;
  color: red;
  font-size: 14px;
  margin: 15px; }

.footer-space {
  margin: 50px 0; }

.footer-separator {
  width: 100%;
  height: 8px;
  background-color: #31A95D;
  margin-bottom: 20px; }

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .footer-row .footer-logo {
    width: 180px; }
    .footer-row .footer-logo img {
      width: 100%; }
  .footer-row .footer-nav ul {
    display: flex;
    flex-direction: row; }
    .footer-row .footer-nav ul li {
      margin-right: 25px; }
      .footer-row .footer-nav ul li:last-child {
        margin: 0; }

/*# sourceMappingURL=style.css.map */
