.about-bg-2{
    display: none;
}

@media screen and (min-width: 768px){
    .about-bg-2{
        display: block;
        background-image: url("../images/about-bg-2.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: 95%;                                          /*AL PONER EN PORCENTAJE SE FIJA A LA DERECHA?*/
    }
    
    .about-row-2{
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
    }
    
    .left-content-2{
        width: 50%;
    }
}

@media screen and (min-width: 992px){
    .about-bg-2{
        background-position-x: 90%;                /*AL PONER EN PORCENTAJE SE FIJA A LA DERECHA?*/
        height: 500px;
    }
}


@media screen and (min-width: 1200px){
    .about-bg-2{
        background-position-x: 85%;
        height: 700px;  
    }
}
