
.contact-card{
    background: white;
    border-radius: 18px;
    box-shadow: 0 0 30px 0 rgba(49, 169, 93, 0.17);
    padding: 50px 20px;                                                
    width: 100%;                                                       
    margin: auto;
    position: relative;
}


.contact-title{
    margin-bottom: 40px;                                                
}


.email-phone-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
    input[name=your-email]{
        width: 50%;
        margin-right: 15px;                                                   
        border: none;
        border-bottom: 1px solid black;
        background: none;
        outline: none;
        transition: all 0.5s;
        border-radius: 0;
    }
    

    input[name=phone-number]{
        width: 50%;
        border: none;
        border-bottom: 1px solid black;
        background: none;
        outline: none;
        border-radius: 0;
    }
}   


.name-last-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    input[name=first-name]{
        width: 50%;
        margin-right: 15px;                                                       
        border: none;
        border-bottom: 1px solid black;
        background: none;
        outline: none;
        border-radius: 0;
        transition: all 0.5s;
    }
    

    input[name=last-name]{
        width: 50%;
        border: none;
        border-bottom: 1px solid black;
        background: none;
        outline: none;
        border-radius: 0;
        transition: all 0.5s;
    }
}

.message-field{
    width: 100%;

    textarea{
        width: 100%;
        height: 180px;
        resize: none !important;
        border: none;
        border-bottom: 1px solid black;
        background: none;
        outline: none;
        border-radius: 0;
        transition: all 0.5s;
    }
}

.submit-form-btn{
    margin-top: 40px;
    text-align: center;
    input{
        outline: none;
    }
}

.contact-group-circles{
    display: none;
 }

 .contact-elipse{
    display: none;
 }

 #contactError{
    opacity: 1;
    visibility: visible;
    text-align: center;
    color: red;
    transition: all 0.5s;
    p{
        margin: 10px 0; 
        font-size: 14px; 
        line-height: inherit !important;
    }

 }

@media screen and (min-width: 768px){
    .contact-card{
        padding: 50px 80px;                                              
        // width: 100%;             
    }

    .contact-title{
        margin-bottom: 60px;
    }


    .email-phone-row{
        input[name=your-email]{
            margin-right: 30px;                                                      
        }
    }

    .name-last-row{
        input[name=first-name]{
            margin-right: 30px;  
        }   
    }

    .contact-group-circles{
        display: block;
        position: absolute;
        bottom: 0;
        left: -18%;
        width: 20%;                                                                          
    }

    .contact-elipse{
        display: block;
        position: absolute;
        top: 15%;
        right: -15%;
        width: 20%;
        z-index: -1;
    }
}

@media screen and (min-width: 992px){
    .contact-card{                                           
        width: 80%;             
    }

    .contact-group-circles{
        left: -35%;
        width: 40%;
    }
}


