.form-emission{
    background: white;
    border-radius: 18px;
    box-shadow: 0 0 30px 0 rgba(49, 169, 93, 0.17);
    width: 80%;
    margin: auto;
    padding: 80px 80px;
    position: relative;
    
    transition: all 0.5s;

  
    form{
        width: 70%;
        display: flex;
        flex-direction: column;
        margin: auto;

        transition: all 0.5s;
    }

    .web-address, .page-views{
        display: block;
        margin-bottom: 40px; 
        & > input{
            height: 40px;
            width: 100%;
            background: none;
            border: none;
            border-bottom: 1px solid black;
            outline: none;
            transition: all 0.5s;
            
        }
    }
    
    .submit-btn{
        margin: auto;
        margin-top: 35px;
        margin-bottom: 35px;        
        & > input{
            border: none;
            outline: none;
        }
    }

    p{
        width: 75%;
        margin: auto;
    }
    
    .emission-circles{
        position: absolute;
        width: 25%;
        top: -200px;
        right: -150px;

    }

    .flower-right-bottom{
        position: absolute;
        width: 20%;
        right: -130px;
        bottom: 0;
        z-index: -1;
    }

    .flower-left-top{
        position: absolute;
        height: 65%;
        top: -170px;
        left: -20%;
        z-index: -1;
    }
    
    .flower-left-bottom{
        position: absolute;
        height: 60%;
        bottom: -20px;
        left: -20%;
        z-index: -1;
    }    
}

.error-text{
    // display: none;
    opacity: 1;
    visibility: visible;
    text-align: center;
    color: red;
    transition: all 0.5s;
    p{
        margin-bottom: 15px; 
    }
}


// .animacionSubmit{
//     box-shadow: inset 0px 0px 0px 3px #019961;
// }

// @keyframes animacionSubmit{
//     from{
//         opacity: 0;
//     }

//     to{
//         opacity: 1;
//     }
// }

