.header{
    // background: blue;
    width: 100%;
    z-index: 999;
    position: absolute;
    padding: 15px 0;
}
.header-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu-burger{
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0 0 40px 0 rgba(49, 169, 93, 0.20)
}